/* TIPOGRAFI SETTING */

/* 

-- 01 FONT-SIZING (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-- 02 COLOR
main color : 
#d62828 #f77f00

tints : 
#f99933

shades : 
#de7200


-- 03 SHADOWS

--04 BORDER-RADIUS
box : 1.2rem
btn : 3rem 4rem

--05 WHITESPACE


--06 SPACING-SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/**********************/
/* GENERAL COMPONENTS */
/**********************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #fff;
}

header {
  height: 120vh;
  background-image: linear-gradient(rgb(34, 34, 34, 0.6), rgb(34, 34, 34, 0.6)),
    url(/07-Geromichi-Desktop/img/backup.png);
  background-size: cover;

  position: relative;
  color: #fff;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

.hero-btn {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.btn:link,
.btn:visited {
  display: inline-block;

  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
  padding: 1.6rem 3.2rem;
  border: 3px solid #f77f00;
  border-radius: 4rem;
}

.filled {
  background-color: #f77f00;
  border: none;
}

/**********************/
/* NAVIGATION */
/**********************/
.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.8rem;
  padding-top: 3.2rem;
}

.logo-img {
  font-size: 3.2rem;
}

.main-nav-list {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;

  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #f77f00;
}

.main-nav-link.nav-register:link,
.main-nav-link.nav-register:visited {
  color: #fff;
  padding: 1.2rem 2.4rem;
  background-color: #f77f00;
  border-radius: 3rem;
}

.main-nav-link.nav-register:hover,
.main-nav-link.nav-register:active {
  background-color: #de7200;
}

/**********************/
/* HERO SECTION */
/**********************/
.hero-section {
  position: absolute;
  top: 50%;
  right: 10%;

  transform: translate(10%, -50%);
}

.hero-box {
  max-width: 60rem;
  background-color: #d62828;
  padding: 3rem 2rem;
  border-radius: 1.2rem;
}

.hero-title {
  font-size: 4.2rem;
  line-height: 1.15;
  letter-spacing: -0.8px;
  margin-bottom: 4.8rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4rem;
}
