/* CSS */

/* Psuedo Class

Adalah sebuah kelas yang memiliki sintaks :
contoh : 
*/

li:first-child {
  font-weight: bold;
}

/* Merubah semua elemen text pada li yang pertama menjadi tebal */

li:last-child {
  font-style: italic;
}

/* merubah semua element text pada li yang terakhir menjadi italic */

/* li:nth-child(2) {
  color: red;
} */

/* merubah element kedua pada seluruh tag li menjadi warna merah () bisa diisi sesuai keiinginan kita*/

li:nth-child(odd) {
  color: red;
}

/* merubah element ganjil(odd)/genap(even) pada seluruh tag li menjadi warna merah () bisa diisi sesuai keiinginan kita*/

/* Contoh Implementasi

1) Saya ingin mengubah tag paragraf paling awal di halaman index menjadi warna merah

2) Saya ingin mengubah font-weight paragraf terakhir yang ada di dalam tag article menjadi bold
*/

header p:nth-child(3) {
  color: red;
}

/* p berada di dalam header dan urutan nya ketiga dari tag header  */

article p:last-child {
  font-weight: bold;
}

/* p berada di dalam tag article dan urutannya berada di akhir tag article */

/* HYPERLINKS */

a:link {
  color: #1098ad;
  text-decoration: none;
}

/* berarti seluruh tag a dengan atribut href akan diubah */

a:visited {
  color: #1098ad;
  text-decoration: none;
}
/* ketika tag a sudah di sentuh */

a:hover {
  color: orangered;
  text-decoration: underline orangered;
}

a:active {
  color: black;
}

/* ketika tag a di klik */

/* STYLE CONFLICT */

#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: green;
}

footer p {
  color: yellow;
}

/* id memiliki prioritas tertinggi, kemudian disusul dengan class, dan yang terakhir ada element */

/* 
kasus class diatas memiliki 2 class yaitu class copyright dan class text. ketika tidak ada id maka class yang terakhir yang akan di aplikasikan yaitu class text 
*/

/* perbedaan inline dan block element */

/* 
Inline ELement :
a) berlaku pada img,a,em,strong
b) margin dan padding hanya berefek ke  horizontal
c) inline element bisa diubah ke block element dengan cara : 
display :block


Block Element :
a) berlaku pada hampir semua element html
b) memenuhi element parent

Inline-block element :
a) ukuran nya sebatas pada ukuran konten
b) box model diterapkan mirip dengan block

*/

/* Contoh Penerapan elemen Inline */

nav a:link {
  background-color: orange;
  margin: 20px;
  padding: 20px;

  /* merubah elemen inline ke block */
  display: block;
}

/* Contoh Penerapan elemen inline-block */

ol li {
  background-color: aqua;
  margin-bottom: 10px;

  /* merubah elemen block ke inline-block */
  display: inline-block;
}

/* RELATIVE VS ABSOLUTE POSITIONINGS */

/* RELATIVE POSITIONING :
a) posisi default
b) elemen ditata sesuai dengan kode sumber dalam html

c) posititon : relative;
*/

/* ABSOLUTE POSITIONING : 
a) element akan 'dikeluarkan' dari posisi default dan ditata sesuai dengan keiigninan kita

b) tidak akan berefekpada element sekitar, namun bisa jadi tumpang tindih

c) menggunakan top,bottom,left,right untuk memposisikan elemen dari container yang posisinya relative
*/

/* contoh Penerapan */
body {
  position: relative;
}

.like-button {
  font-size: 22px;
  padding: 20px;

  position: absolute;
  bottom: 0px;
  right: 60px;
}

/* jadi class like button posisi nya meliputi seluruh tag body */
